body {
    font-family: Vrinda;
}

/*content*/
.content {
    width: 800px;
    height: 500px;
    border: 1px dashed #0099ff;
    margin: 40px auto;
}

    .content .button-feild {
        width: 760px;
        height: 100px;
        border: 1px solid #999999;
        margin: 20px 10px;
        padding:10px;
    }
.button-feild .title {
    display:inline-block;
    margin:-22px 0 10px 0;
    font-size:20px;
    background-color:white;
}
/*button*/
#btn, #mother-div {
    margin-bottom: 10px;
}

.button-normal {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #999999;
    margin-bottom: -1px;
    -webkit-user-select: none;
}

.button-disabled {
    background-color: #999999;
    color: red;
    cursor: default;
}

.button-mouseenter, #add:hover {
    border-color: #0099ff;
    z-index:1001;
}

.button-mousedown {
    background-color: #0099ff;
    color: white;
}

.button-click {
    background-color: #0099ff;
    color: white;
    border: 1px solid #0099ff;
}

/*multibutton*/
.disvisible {
    display: none;
}
